[submodule "docs"]
	path = docs
	url = git@github.com:cidarosa/ems-algashop-docs.git
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:cidarosa/ems-algashop-ordering.git
